@charset "utf-8";

body {
  margin: 0;
  color: black;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-color: #fff;
  
}

header {
  color: #ffffff;
  font-family: "Amatic SC", cursive;
  background-color: #a4a4a4;
  padding: 10px 10px 0px; 
  position: fixed;
  width: 100%;
}

#top-message {
  font-size: 40px;
  height: 50px;
  padding-left: 6%;
  margin: 10px 0 0 0;
  text-align: left;
}

div.sns-icons {
  display: flex;
  position: absolute;
  top:25px;
  right:6%;
}

#insta {
  margin: 10px 9px 0px 4px;
}

#X {
  margin: 10px 10px 0px 3px;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 16px 6% 8px 0px;
}

li {
  list-style: none;
  margin-left: 40px;
  font-size: 25px;
}

a {
  color: #ffffff;
}

main {
  background-color: #fff;
  margin-top: 0px;
  padding-top: 125px;
}

#memo h1 {
  font-family: 'Amatic SC', cursive;
  margin: 0px 0px;
  padding: 8px;
  background-color: #00000039;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 1.6;
  color: #fff;
}

#memo p{
  color: rgba(3, 4, 27, 0.753);
  margin: 0px;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  overflow: auto;
  font-weight: normal;
  text-align: left;
  line-height: 1.8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px#b4b3b3;
  text-align: center;
}

#sp {
  padding-top: 0px;
  height: 100%;
}

#memo {
  border: 1px solid #00000039;
  width: 20%;
  min-width: 200px;
  height: 700px;
  margin: 0px 15px 0px 15px;
  border-radius: 10px;
  overflow: hidden;
}

#memo textarea {
  resize: none;
  width:100%;
  height:100%;
  border: none;
  font-size: 23px;
  padding: 20px 5px;
  
}

#homePic {
  margin: 0 5% 0 0;
  width: 72.5%;
  min-width: 900x;
  transform: 1.0s;
}

.main-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0px 30px 0px ;
  margin:0 0 0 5%;
  size: 100%;
}

#catch-copy{
  color: rgba(3, 4, 27, 0.753);
  position: absolute;
  top: 30%;
  left: 30%;
}

#sns {
  font-family: "Amatic SC", cursive;
  color: #fff;
  color: #000;
  padding: 1%;
  margin: 0 5% 0 ;
  height:fit-content;
  
}

#sns h2 {
  font-size: 50px;
  color: #000;
  text-align: center;
}

.container {
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px;
  grid-template-rows: 400px 400px;
  object-fit: cover;
  align-items: center;
  flex-wrap: wrap;
  
}

#sns .wrapper {
  display :flex;
}

.sns-box {
  width: 50%;
  min-width: 0;
  margin-left: 10%;
}

iframe {
  width: 160%;
  margin:auto;
}

#urlBtn {
  text-align:right;
}


footer {
  color:#fff;
  background-color: #a4a4a4;
  margin: 0%;
  padding: 1%;
  height: 350px;
}

#yuudai {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height:350px;
}

#kao {
  width: 90%;
  height: 250px;
  margin: 0 3% 5% 3%;
  border-radius: 100%;
}

#message {
  width: 50%;
  margin: 0 auto;
}

#fotter h2{
  margin: 0 0 0 3%;
  width: 300px;
  padding: 0px;
}

#X-timeline {
  margin-top: 2%;
  height: 100%;
  width: 25%;
  
}

form {
  padding-top: 125px;
  margin: 0 6% 0;
}

#input_menu {
  margin: 3% auto;
  height: auto;
  width: 90%;
  padding: 2%;
  border: 2px solid black;
}


#box1 {
  height: 200px;
  width: 200px;
  margin: auto;
  border: 2px solid green;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box1 input {
  width: 50%;
}

#box2 {
  height:  400px;
  margin-top: 10px;
  border:  2px solid blue;
  background-color: rgba(0, 255, 187, 0.499);

}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 160px;
  font-size: 16px;
  padding: 8px;
  margin-top: 8px;
}

button {
  padding: 4px 16px;
  cursor: pointer;
}

span {
  font-size: 14px;
  margin-right: auto;
  opacity: 0;
  transition: opacity 300ms;
}

.container2 {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

.appear {
  opacity: 1;
}
