@charset "utf-8";

body {
  margin: 0;
  /* width: 100%; */
  color: black;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-color: #fff;
  /* background-size: cover;
  background-image: url(images/IMG_7201.JPG); */
}

header {
  color: #ffffff;
  font-family: "Amatic SC", cursive;
  background-color: #a4a4a4;
  padding: 10px 10px 0px; 
  position: fixed;
  width: 100%;
  /* margin-bottom: 0%; */
  /* text-align: center; */
  /* font-size: 40px; */
}

#top-message {
  font-size: 40px;
  height: 50px;
  padding-left: 6%;
  margin: 10px 0 0 0;
  /* padding: 0; */
  text-align: left;
  /* position: fixed; */
}

div.sns-icons {
  display: flex;
  position: absolute;
  top:25px;
  right:6%;
}

#insta {
  margin: 10px 9px 0px 4px;
}

#X {
  margin: 10px 10px 0px 3px;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 16px 6% 8px 0px;
  /* background-color: #000000; */
}

li {
  list-style: none;
  margin-left: 40px;
  font-size: 25px;
}

a {
  color: #ffffff;
}

main {
  background-color: #fff;
  margin-top: 0px;
  padding-top: 125px;
}

#memo h1 {
  font-family: 'Amatic SC', cursive;
  margin: 0px 0px;
  padding: 8px;
  background-color: #00000039;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 1.6;
  color: #fff;
}

#memo p{
  color: rgba(3, 4, 27, 0.753);
  margin: 0px;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  overflow: auto;
  font-weight: normal;
  text-align: left;
  line-height: 1.8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px#b4b3b3;
  /* background-color: gold; */
  /* margin : 0 0 0 16px; */
  /* margin : 10px 10px; */
  /* width : 160px; */
  /* width : 100%; */
  /* max-width: 700px; */
  /* height : 50%; */
  /* border-top-width: 8px;
  border-top-style: solid;
  border-top-color: blue; */
  /* border-top:8px solid brown;
  border-bottom-width: 8px;
  border-bottom-style: double;
  border-bottom-color: green; */
  /* border : 8px solid rgba(219, 144, 16, 0.667) ; */
  /* border : 8px solid blue ; */
  /* padding: 0 8px; */
  /* overflow: scroll; */
  /* box-shadow:8px 8px 8px#dfdddd ; */
  /* font-weight: bold; */
}

#sp {
  /* color: #000000; */
  /* background-color: rgba(3, 4, 27, 0.245); */
  text-align: left;
  padding-top: 0px;
  height: 100%;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  /* padding: 10px; */
}

#memo {
  border: 1px solid #00000039;
  width: 20%;
  min-width: 200px;
  height: 700px;
  margin: 0px 15px 0px 15px;
  border-radius: 10px;
  overflow: hidden;
  /* padding-top: 20px; */
}

#memo textarea {
  resize: none;
  width:100%;
  height:100%;
  border: none;
  font-size: 20px;
  padding: 20px 5px;
  
}

#homePic {
  margin: 0 5% 0 0;
  width: 72.5%;
  min-width: 900x;
  transform: 1.0s;
}

.main-display{
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  padding: 30px 0px 30px 0px ;
  margin:0 0 0 5%;
  size: 100%;
}

#catch-copy{
  color: rgba(3, 4, 27, 0.753);
  position: absolute;
  top: 30%;
  left: 30%;
}

#sns {
  font-family: "Amatic SC", cursive;
  color: #fff;
  color: #000;
  /* background-color: #00000039; */
  padding: 1%;
  /* border: #ffffff 3px; */
  margin: 0 5% 0 ;
  height:fit-content;
  
}

#sns h2 {
  font-size: 50px;
  /* color: #fff; */
  color: #000;
  text-align: center;
}

.container {
  font-size: 25px;
  /* width: 100%; */
  /* height: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px;
  grid-template-rows: 400px 400px;
  object-fit: cover;
  align-items: center;
  flex-wrap: wrap;
  
}

/* iframe {
  width: auto;
  height: 100%;
  } */

  /* .container {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container .sns-box {
    padding-top: 56.25%;
    position: relative;
    height: 0;
    overflow: hidden;
  }
  
  .container.sns-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

#sns .wrapper {
  display :flex;
  /* justify-content:center; */
}
/* 
#sns .sabtitle {
  margin-bottom: 30px;
  
} */

.sns-box {
  width: 50%;
  min-width: 0;
  margin-left: 10%;
  /* padding: 5px; */
  /* margin: 5px; */
}

iframe {
  width: 160%;
  /* min-width: 50px; */
  margin:auto;
}



footer {
  color:#fff;
  background-color: #a4a4a4;
  margin: 0%;
  padding: 1%;
  height: 350px;
}

#yuudai {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height:350px;
}

#kao {
  width: 90%;
  height: 250px;
  margin: 0 3% 5% 3%;
  border-radius: 100%;
}

#message {
  width: 50%;
  margin: 0 auto;
}

#fotter h2{
  margin: 0 0 0 3%;
  width: 300px;
  /* background-color: #a4a4a4; */
  padding: 0px;
}

#X-timeline {
  margin-top: 2%;
  height: 100%;
  width: 25%;
  
}

form {
  padding-top: 125px;
  margin: 0 6% 0;
}

#input_menu {
  margin: 3% auto;
  height: auto;
  width: 90%;
  padding: 2%;
  border: 2px solid black;
  /* background-color: #e9e6e6; */
}
